body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
body .wrapper {
  margin-top: 30px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  background-color: white;
}
body .wrapper .wrapper_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  width: 90%;
  height: 72px;
  background-color: white;
}
body .wrapper .wrapper_content .there ul {
  display: inline-flex;
  padding-right: 2px;
  justify-content: center;
  align-items: flex-start;
  gap: 37px;
  background: white;
  list-style: none;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .wrapper_content .there ul a {
  text-decoration: none;
}
body .wrapper .wrapper_content .there ul a:hover {
  transition-duration: 1s;
  color: #DFDFDF;
}
body .wrapper .wrapper_content .share {
  display: none;
}
body .wrapper .wrapper_content button {
  border: none;
  width: 158px;
  height: 40px;
  flex-shrink: 0;
  background: #000;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .wrapper_content button:hover {
  transition-duration: 1s;
  color: black;
  background: #DFDFDF;
}
body .wrapper .text {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  height: 650px;
  width: 100%;
  background-color: white;
}
body .wrapper .text .text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  max-width: 610px;
  width: 100%;
  height: 650px;
  background-color: black;
}
body .wrapper .text .text1 .create {
  width: 387px;
  height: 304px;
  background-color: black;
}
body .wrapper .text .text1 .create .run {
  margin: 0;
  max-width: 387px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
body .wrapper .text .text1 .create .run1 {
  margin-top: 21px;
  max-width: 387px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .text .text1 .create a {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 48px;
}
body .wrapper .text .text1 .create a:hover {
  width: 175px;
  transition-duration: 1s;
  border-bottom: 2px solid white;
  color: white;
  display: flex;
  gap: 18px;
}
body .wrapper .text .iconka {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 830px;
  width: 100%;
  height: 650px;
  background-image: url(/img/bolakay.png);
}
body .wrapper .stories {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
  height: 600px;
  background-color: white;
}
body .wrapper .stories .iconka1 {
  max-width: 830px;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/noutbook.png);
}
body .wrapper .stories .spaces {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  max-width: 610px;
  width: 100%;
  height: 600px;
  background-color: white;
}
body .wrapper .stories .spaces .watching {
  width: 387px;
  height: 329px;
  background-color: white;
}
body .wrapper .stories .spaces .watching .go {
  margin: 0;
  max-width: 387px;
  width: 100%;
  color: #000;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
body .wrapper .stories .spaces .watching .go1 {
  max-width: 387px;
  width: 100%;
  color: #000;
  font-family: DM Sans;
  margin-top: 21px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .stories .spaces .watching a {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  gap: 18px;
}
body .wrapper .stories .spaces .watching a:hover {
  width: 205px;
  transition-duration: 1s;
  border-bottom: 2px solid black;
  color: black;
  display: flex;
  gap: 18px;
}
body .wrapper .everyone {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  height: 600px;
  width: 100%;
  background-color: white;
}
body .wrapper .everyone .houston {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  max-width: 610px;
  width: 100%;
  height: 600px;
  background-color: white;
}
body .wrapper .everyone .houston .aktiv {
  width: 387px;
  height: 281px;
  background-color: white;
}
body .wrapper .everyone .houston .aktiv .razdel {
  margin: 0;
  max-width: 387px;
  width: 100%;
  color: #000;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
body .wrapper .everyone .houston .aktiv .razdel1 {
  max-width: 387px;
  width: 100%;
  color: #000;
  font-family: DM Sans;
  margin-top: 21px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .everyone .houston .aktiv a {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  gap: 18px;
}
body .wrapper .everyone .houston .aktiv a:hover {
  width: 210px;
  transition-duration: 1s;
  border-bottom: 2px solid black;
  color: black;
  display: flex;
  gap: 18px;
}
body .wrapper .everyone .iconka {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 830px;
  width: 100%;
  height: 600px;
  background-image: url(/img/rasmchi.png);
}
body .wrapper .emmet {
  display: flex;
  max-width: 1500px;
  width: 100%;
  height: 500px;
  background-color: white;
}
body .wrapper .emmet .emmet1 {
  display: flex;
  max-width: 1500px;
  width: 100%;
  height: 500px;
}
body .wrapper .emmet .emmet1 .stop1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 370px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/tog.png);
}
body .wrapper .emmet .emmet1 .stop1 .exploler {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 280px;
  width: 90%;
  height: 120px;
}
body .wrapper .emmet .emmet1 .stop1 .exploler .aktivatsiya .control {
  margin: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .emmet .emmet1 .stop1 .exploler .aktivatsiya .john {
  margin: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .emmet .emmet1 .stop1 .exploler .read {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  max-width: 280px;
  width: 100%;
  height: 16px;
}
body .wrapper .emmet .emmet1 .stop1 .exploler .read .story {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .emmet .emmet1 .stop1:hover {
  transition-duration: 2s;
  transform: translateY(-30px);
}
body .wrapper .emmet .emmet1 .stop2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 370px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/sunset.png);
}
body .wrapper .emmet .emmet1 .stop2 .exploler {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 280px;
  width: 90%;
  height: 120px;
}
body .wrapper .emmet .emmet1 .stop2 .exploler .aktivatsiya .control {
  margin: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .emmet .emmet1 .stop2 .exploler .aktivatsiya .john {
  margin: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .emmet .emmet1 .stop2 .exploler .read {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  max-width: 280px;
  width: 100%;
  height: 16px;
}
body .wrapper .emmet .emmet1 .stop2 .exploler .read .story {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .emmet .emmet1 .stop2:hover {
  transition-duration: 2s;
  transform: translateY(-30px);
}
body .wrapper .emmet .emmet2 {
  display: flex;
  max-width: 1500px;
  width: 100%;
  height: 500px;
}
body .wrapper .emmet .emmet2 .stop3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 370px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/voyage.png);
}
body .wrapper .emmet .emmet2 .stop3 .exploler {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 280px;
  width: 90%;
  height: 120px;
}
body .wrapper .emmet .emmet2 .stop3 .exploler .aktivatsiya .control {
  margin: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .emmet .emmet2 .stop3 .exploler .aktivatsiya .john {
  margin: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .emmet .emmet2 .stop3 .exploler .read {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  max-width: 280px;
  width: 100%;
  height: 16px;
}
body .wrapper .emmet .emmet2 .stop3 .exploler .read .story {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .emmet .emmet2 .stop3:hover {
  transition-duration: 2s;
  transform: translateY(-30px);
}
body .wrapper .emmet .emmet2 .stop4 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 370px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/brooke.png);
}
body .wrapper .emmet .emmet2 .stop4 .exploler {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 280px;
  width: 90%;
  height: 120px;
}
body .wrapper .emmet .emmet2 .stop4 .exploler .aktivatsiya .control {
  margin: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .emmet .emmet2 .stop4 .exploler .aktivatsiya .john {
  margin: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .emmet .emmet2 .stop4 .exploler .read {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  max-width: 280px;
  width: 100%;
  height: 16px;
}
body .wrapper .emmet .emmet2 .stop4 .exploler .read .story {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .emmet .emmet2 .stop4:hover {
  transition-duration: 2s;
  transform: translateY(-30px);
}
body .wrapper .rel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  height: 236px;
  margin-top: 120px;
  background-color: white;
}
body .wrapper .rel .shart1 {
  text-align: center;
  max-width: 350px;
  width: 100%;
  height: 236px;
  background-color: white;
}
body .wrapper .rel .shart1 .win1 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-top: 48px;
}
body .wrapper .rel .shart1 .win2 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .rel .shart2 {
  text-align: center;
  max-width: 350px;
  width: 100%;
  height: 236px;
  background-color: white;
}
body .wrapper .rel .shart2 .win1 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-top: 80px;
}
body .wrapper .rel .shart2 .win2 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .rel .shart3 {
  text-align: center;
  max-width: 350px;
  width: 100%;
  height: 236px;
  background-color: white;
}
body .wrapper .rel .shart3 .win1 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin-top: 48px;
}
body .wrapper .rel .shart3 .win2 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  max-width: 1500px;
  width: 100%;
  height: 250px;
  background: black;
}
body .wrapper .footer .back {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
}
body .wrapper .footer .back .icon {
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .wrapper .footer .back .icon img {
  width: 170px;
  height: 16px;
}
body .wrapper .footer .back .icon ul {
  display: none;
}
body .wrapper .footer .back .icon .icons {
  width: 154px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
body .wrapper .footer .back .icon .icons .facebook svg path {
  fill: #FFF;
}
body .wrapper .footer .back .icon .icons .facebook svg path:hover {
  transition: 0.5s;
  fill: #6028F1;
}
body .wrapper .footer .back .icon .icons .youtube svg path {
  fill: #FFF;
}
body .wrapper .footer .back .icon .icons .youtube svg path:hover {
  transition: 0.5s;
  fill: #FF5A5A;
}
body .wrapper .footer .back .icon .icons .twitter svg path {
  fill: #FFF;
}
body .wrapper .footer .back .icon .icons .twitter svg path:hover {
  transition: 0.5s;
  fill: #27718A;
}
body .wrapper .footer .back .icon .icons .p svg path {
  fill: #FFF;
}
body .wrapper .footer .back .icon .icons .p svg path:hover {
  transition: 0.5s;
  fill: #DE3838;
}
body .wrapper .footer .back .icon .icons .insta svg path {
  fill: #FFF;
}
body .wrapper .footer .back .icon .icons .insta svg path:hover {
  transition: 0.5s;
  fill: #6028F1;
}
body .wrapper .footer .back ul {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 122px;
  list-style: none;
}
body .wrapper .footer .back a:hover {
  transition: 0.5s;
  color: gray;
}
body .wrapper .footer .back a {
  text-decoration: none;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
body .wrapper .footer .back .featur {
  background: #000;
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .wrapper .footer .back .featur .btn {
  margin-top: 0px;
  width: 163px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .wrapper .footer .back .featur .btn:hover {
  border-bottom: 2px solid whitesmoke;
  transition-duration: 0.5s;
}
body .wrapper .footer .back .featur .res {
  width: 244px;
  margin: 0px;
  color: #FFF;
  text-align: right;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  body .wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    background-color: white;
  }
  body .wrapper .emmet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    max-width: 1500px;
    width: 100%;
    height: 500px;
  }
  body .wrapper .emmet .emmet1 {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    width: 100%;
    height: 500px;
  }
  body .wrapper .emmet .emmet1 .stop1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 500px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/tog.png);
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 280px;
    width: 90%;
    height: 120px;
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler .aktivatsiya .control {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler .aktivatsiya .john {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler .read {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    max-width: 280px;
    width: 100%;
    height: 16px;
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler .read .story {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .emmet .emmet1 .stop1:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .emmet .emmet1 .stop2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 500px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/sunset.png);
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 280px;
    width: 90%;
    height: 120px;
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler .aktivatsiya .control {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler .aktivatsiya .john {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler .read {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    max-width: 280px;
    width: 100%;
    height: 16px;
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler .read .story {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .emmet .emmet1 .stop2:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .emmet .emmet2 {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    width: 100%;
    height: 500px;
  }
  body .wrapper .emmet .emmet2 .stop3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 500px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/voyage.png);
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 280px;
    width: 90%;
    height: 120px;
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler .aktivatsiya .control {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler .aktivatsiya .john {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler .read {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    max-width: 280px;
    width: 100%;
    height: 16px;
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler .read .story {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .emmet .emmet2 .stop3:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .emmet .emmet2 .stop4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 500px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/brooke.png);
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 280px;
    width: 90%;
    height: 120px;
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler .aktivatsiya .control {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler .aktivatsiya .john {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler .read {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    max-width: 280px;
    width: 100%;
    height: 16px;
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler .read .story {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .emmet .emmet2 .stop4:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .rel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    height: max-content;
    margin-top: 400px;
    background-color: white;
  }
  body .wrapper .rel .shart1 {
    text-align: center;
    max-width: 350px;
    width: 100%;
    height: 236px;
    background-color: white;
  }
  body .wrapper .rel .shart1 .win1 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin-top: 48px;
  }
  body .wrapper .rel .shart1 .win2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .rel .shart2 {
    text-align: center;
    max-width: 350px;
    width: 100%;
    height: 236px;
    margin-top: 80px;
    background-color: white;
  }
  body .wrapper .rel .shart2 .win1 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin-top: 48px;
  }
  body .wrapper .rel .shart2 .win2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .rel .shart3 {
    text-align: center;
    max-width: 350px;
    width: 100%;
    height: 236px;
    margin-top: 80px;
    background-color: white;
  }
  body .wrapper .rel .shart3 .win1 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin-top: 48px;
  }
  body .wrapper .rel .shart3 .win2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .footer {
    display: flex;
    margin-top: 120px;
    max-width: 1500px;
    width: 100%;
    height: 250px;
    background: black;
  }
  body .wrapper .footer .back {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 90%;
  }
  body .wrapper .footer .back .icon {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .wrapper .footer .back .icon img {
    width: 170px;
    height: 16px;
  }
  body .wrapper .footer .back .icon ul {
    max-width: 500px;
    width: 100%;
    display: flex;
    margin-left: -40px;
    flex-direction: row;
    margin-top: -30px;
    flex-wrap: wrap;
    height: max-content;
    list-style: none;
    gap: 20px;
  }
  body .wrapper .footer .back .icon .icons {
    width: 154px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  body .wrapper .footer .back .icon .icons .facebook svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .facebook svg path:hover {
    transition: 0.5s;
    fill: #6028F1;
  }
  body .wrapper .footer .back .icon .icons .youtube svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .youtube svg path:hover {
    transition: 0.5s;
    fill: #FF5A5A;
  }
  body .wrapper .footer .back .icon .icons .twitter svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .twitter svg path:hover {
    transition: 0.5s;
    fill: #27718A;
  }
  body .wrapper .footer .back .icon .icons .p svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .p svg path:hover {
    transition: 0.5s;
    fill: #DE3838;
  }
  body .wrapper .footer .back .icon .icons .insta svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .insta svg path:hover {
    transition: 0.5s;
    fill: #6028F1;
  }
  body .wrapper .footer .back ul {
    max-width: 500px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 122px;
    list-style: none;
  }
  body .wrapper .footer .back a {
    text-decoration: none;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  body .wrapper .footer .back .featur {
    background: #000;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .wrapper .footer .back .featur .btn {
    margin-top: 0px;
    width: 163px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body .wrapper .footer .back .featur .btn:hover {
    border-bottom: 2px solid whitesmoke;
    transition-duration: 0.5s;
  }
  body .wrapper .footer .back .featur .res {
    margin: 0px;
    color: #FFF;
    text-align: right;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 715px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  body .wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    background-color: white;
  }
  body .wrapper .wrapper_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 90%;
    height: 72px;
    background-color: white;
  }
  body .wrapper .wrapper_content .there ul {
    display: none;
    padding-right: 2px;
    justify-content: center;
    align-items: flex-start;
    gap: 37px;
    background: white;
    list-style: none;
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .wrapper_content .there ul a {
    display: none;
    text-decoration: none;
  }
  body .wrapper .wrapper_content .there ul a:hover {
    transition-duration: 1s;
    color: #DFDFDF;
  }
  body .wrapper .wrapper_content .share {
    display: inline;
  }
  body .wrapper .wrapper_content button {
    display: none;
    border: none;
    width: 158px;
    height: 40px;
    flex-shrink: 0;
    background: #000;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .wrapper_content button:hover {
    transition-duration: 1s;
    color: black;
    background: #DFDFDF;
  }
  body .wrapper .rel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    height: max-content;
    margin-top: 900px;
    background-color: white;
  }
  body .wrapper .rel .shart1 {
    text-align: center;
    max-width: 350px;
    width: 100%;
    height: 236px;
    background-color: white;
  }
  body .wrapper .rel .shart1 .win1 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin-top: 48px;
  }
  body .wrapper .rel .shart1 .win2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .rel .shart2 {
    text-align: center;
    max-width: 350px;
    width: 100%;
    height: 236px;
    margin-top: 80px;
    background-color: white;
  }
  body .wrapper .rel .shart2 .win1 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin-top: 48px;
  }
  body .wrapper .rel .shart2 .win2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .rel .shart3 {
    text-align: center;
    max-width: 350px;
    width: 100%;
    height: 236px;
    margin-top: 80px;
    background-color: white;
  }
  body .wrapper .rel .shart3 .win1 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin-top: 48px;
  }
  body .wrapper .rel .shart3 .win2 {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .text {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 1500px;
    height: max-content;
    width: 100%;
    background-color: white;
  }
  body .wrapper .text .text1 {
    padding-top: 41px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 200px;
    align-items: center;
    max-width: 610px;
    width: 90%;
    height: max-content;
    background-color: black;
  }
  body .wrapper .text .text1 .create {
    margin-top: 41px;
    max-width: 387px;
    width: 100%;
    height: 304px;
    background-color: black;
  }
  body .wrapper .text .text1 .create .run {
    margin: 0;
    max-width: 387px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  body .wrapper .text .text1 .create .run1 {
    max-width: 387px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .text .text1 .create a {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  body .wrapper .text .text1 .create a:hover {
    width: 175px;
    transition-duration: 1s;
    border-bottom: 2px solid white;
    color: white;
    display: flex;
    gap: 18px;
  }
  body .wrapper .text .iconka {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 730px;
    height: 500px;
    flex-shrink: 0;
    background-image: url(/img/bolakay.png);
  }
  body .wrapper .stories {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    height: max-content;
    background-color: white;
  }
  body .wrapper .stories .iconka1 {
    max-width: 830px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/img/noutbook.png);
  }
  body .wrapper .stories .spaces {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    margin: auto;
    max-width: 610px;
    width: 90%;
    height: max-content;
    background-color: wihte;
  }
  body .wrapper .stories .spaces .watching {
    margin-top: 72px;
    max-width: 387px;
    width: 100%;
    height: 329px;
    background-color: white;
  }
  body .wrapper .stories .spaces .watching .go {
    margin: 0;
    max-width: 387px;
    width: 100%;
    color: #000;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  body .wrapper .stories .spaces .watching .go1 {
    max-width: 387px;
    width: 100%;
    color: #000;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .stories .spaces .watching a {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  body .wrapper .stories .spaces .watching a:hover {
    width: 205px;
    transition-duration: 1s;
    border-bottom: 2px solid black;
    color: black;
    display: flex;
    gap: 18px;
  }
  body .wrapper .everyone {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 1500px;
    height: max-content;
    width: 100%;
    background-color: white;
  }
  body .wrapper .everyone .houston {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    margin: 0 auto;
    max-width: 610px;
    width: 90%;
    height: max-content;
    background-color: white;
  }
  body .wrapper .everyone .houston .aktiv {
    margin-top: 72px;
    max-width: 387px;
    width: 100%;
    height: 281px;
    background-color: white;
  }
  body .wrapper .everyone .houston .aktiv .razdel {
    margin: 0;
    max-width: 387px;
    width: 100%;
    color: #000;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }
  body .wrapper .everyone .houston .aktiv .razdel1 {
    max-width: 387px;
    width: 100%;
    color: #000;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .everyone .houston .aktiv a {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  body .wrapper .everyone .houston .aktiv a:hover {
    width: 210px;
    transition-duration: 1s;
    border-bottom: 2px solid black;
    color: black;
    display: flex;
    gap: 18px;
  }
  body .wrapper .everyone .iconka {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 830px;
    width: 100%;
    height: 500px;
    background-image: url(/img/rasmchi.png);
  }
  body .wrapper .emmet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 800px;
    max-width: 1500px;
    width: 100%;
    height: 500px;
  }
  body .wrapper .emmet .emmet1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    height: max-content;
  }
  body .wrapper .emmet .emmet1 .stop1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/img/tog.png);
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
    width: 90%;
    height: 120px;
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler .aktivatsiya .control {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler .aktivatsiya .john {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler .read {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    max-width: 600px;
    width: 100%;
    height: 16px;
  }
  body .wrapper .emmet .emmet1 .stop1 .exploler .read .story {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .emmet .emmet1 .stop1:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .emmet .emmet1 .stop2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/img/sunset.png);
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
    width: 90%;
    height: 120px;
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler .aktivatsiya .control {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler .aktivatsiya .john {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler .read {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    max-width: 600px;
    width: 100%;
    height: 16px;
  }
  body .wrapper .emmet .emmet1 .stop2 .exploler .read .story {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .emmet .emmet1 .stop2:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .emmet .emmet2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    height: max-content;
  }
  body .wrapper .emmet .emmet2 .stop3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/img/voyage.png);
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
    width: 90%;
    height: 120px;
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler .aktivatsiya .control {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler .aktivatsiya .john {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler .read {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    max-width: 600px;
    width: 100%;
    height: 16px;
  }
  body .wrapper .emmet .emmet2 .stop3 .exploler .read .story {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .emmet .emmet2 .stop3:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .emmet .emmet2 .stop4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/img/brooke.png);
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
    width: 90%;
    height: 120px;
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler .aktivatsiya .control {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler .aktivatsiya .john {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler .read {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    max-width: 600px;
    width: 100%;
    height: 16px;
  }
  body .wrapper .emmet .emmet2 .stop4 .exploler .read .story {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .emmet .emmet2 .stop4:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .footer {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    padding: 30px 64px;
    width: 100%;
    height: max-content;
  }
  body .wrapper .footer .back {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1110px;
    width: 100%;
  }
  body .wrapper .footer .back .icon {
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-items: center;
  }
  body .wrapper .footer .back .icon img {
    width: 170px;
    height: 16px;
  }
  body .wrapper .footer .back .icon ul {
    display: none;
  }
  body .wrapper .footer .back .icon .icons {
    text-align: center;
    width: 154px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  body .wrapper .footer .back .icon .icons .facebook svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .facebook svg path:hover {
    transition: 0.5s;
    fill: #6028F1;
  }
  body .wrapper .footer .back .icon .icons .youtube svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .youtube svg path:hover {
    transition: 0.5s;
    fill: #FF5A5A;
  }
  body .wrapper .footer .back .icon .icons .twitter svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .twitter svg path:hover {
    transition: 0.5s;
    fill: #27718A;
  }
  body .wrapper .footer .back .icon .icons .p svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .p svg path:hover {
    transition: 0.5s;
    fill: #DE3838;
  }
  body .wrapper .footer .back .icon .icons .insta svg path {
    fill: #FFF;
  }
  body .wrapper .footer .back .icon .icons .insta svg path:hover {
    transition: 0.5s;
    fill: #6028F1;
  }
  body .wrapper .footer .back ul {
    margin-left: -40px;
    text-align: center;
    max-width: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 122px;
    list-style: none;
  }
  body .wrapper .footer .back a {
    text-decoration: none;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  body .wrapper .footer .back .featur {
    margin-top: 70px;
    background: #000;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .footer .back .featur .btn {
    text-align: center;
    margin-top: 50px;
    width: 163px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body .wrapper .footer .back .featur .btn:hover {
    border-bottom: 2px solid whitesmoke;
    transition-duration: 0.5s;
  }
  body .wrapper .footer .back .featur .res {
    margin: 0px;
    color: #FFF;
    text-align: right;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}/*# sourceMappingURL=style.css.map */